<div class="home">
  <app-header
    logoSrc="./assets/logo.png"
    logoAlt="Logotipo do Anota AI"
    title="Teste de Desenvolvedor Front-End - Anota AI"
    description="Paulo Campos"
  />
  <main class="home__content">
    <app-search class="home__search" (onSearch)="onSearch($event)"/>
    <section class="home__cards">
      <app-card
        class="home__card"
        *ngFor="let item of filteredList"
        [img]="item.img"
        [title]="item.title"
        [description]="item.description"
        [type]="item.type"
      />
    </section>
  </main>
</div>
