<div class="home">
  <app-header
    logoSrc="./assets/logo.png"
    logoAlt="Logotipo do Anota AI"
    title="Teste de Desenvolvedor Front-End - Anota AI"
    description="Paulo Campos"
  />
  <main class="home__content">
    <app-search
      class="home__search"
      (onSearch)="onSearch($event)"
    />
    <section class="home__cards">
      <div
        class="home__card"
        *ngFor="let item of filteredList; let i = index"
      >
        <div class="home__card-close shadow">
          <app-close (click)="onRemove(i)" />
        </div>
        <app-card
          [imgSrc]="item.img"
          [title]="item.title"
          [description]="item.description"
          [type]="item.type"
        />
      </div>
    </section>
  </main>
</div>
